Repository hwameistor/hwameistor, pull requests merged in 2023-07, with the labels that each got.

#962 release v0.11.1
  CHANGELOG.md
  changelogs/released/v0.11.1/changelog
  helm/hwameistor/Chart.yaml
Labels: release

#966 refactor volume qos
  pkg/local-storage/member/csi/node.go
  pkg/local-storage/member/csi/plugin.go
  pkg/local-storage/member/node/manager.go
  pkg/local-storage/member/node/qos.go
  pkg/local-storage/member/node/qos/cgroups.go
  pkg/local-storage/member/node/qos/qos.go
  pkg/local-storage/member/node/util.go
  pkg/local-storage/member/node/volume_replica_task_worker.go
Labels: kind/enhancement

#969 [Docs] Add disk owner description
  docs/docs/volumes_and_nodes/node_expansion/disk_nodes.md
  docs/i18n/cn/docusaurus-plugin-content-docs/current/volumes_and_nodes/node_expansion/disk_nodes.md
Labels: kind/documentation

#976 update e2e test
  test/e2e/E2eTest/ldm_blockVolume_tests.go
  test/e2e/E2eTest/ldm_fsVolume_tests.go
  test/e2e/E2eTest/ls_comprehensive_tests.go
  test/e2e/E2eTest/ls_convert_tests.go
  test/e2e/E2eTest/ls_eviction_tests.go
  test/e2e/E2eTest/ls_haVolume_Migrate_extra_tests.go
  test/e2e/E2eTest/ls_haVolume_Migrate_tests.go
  test/e2e/E2eTest/ls_haVolume_tests.go
  test/e2e/E2eTest/ls_nodeMount_tests.go
  test/e2e/E2eTest/ls_reliability_tests.go
  test/e2e/E2eTest/ls_scheduler_tests.go
  test/e2e/E2eTest/ls_volume_expand_tests.go
  test/e2e/E2eTest/ls_volume_tests.go
  test/e2e/E2eTest/pr_tests.go
  test/e2e/E2eTest/stress_bulkDelete_tests.go
  test/e2e/E2eTest/stress_deduplication_tests.go
  test/e2e/adaptation_test/ad_k8s123_tests.go
  test/e2e/adaptation_test/ad_k8s125_tests.go
  test/e2e/adaptation_test/ad_k8s126_tests.go
  test/e2e/adaptation_test/ad_k8s127_tests.go
  test/e2e/adaptation_test/ad_k8sc81_tests.go
  test/e2e/adaptation_test/ad_k8su22_tests.go
Labels: e2e-test

#977 update e2e test
  test/e2e-test.sh
  test/e2e/adaptation_test/ad_c79_offline_tests.go
  test/e2e/install_drbd.sh
  test/e2e/utils/utils.go
  test/pr-test.sh
Labels: e2e-test

#980 [Docs] Polish text in creating statefulset and uninstallation
  docs/docs/quick_start/create_stateful/basic/ha.md
  docs/docs/quick_start/create_stateful/basic/local.md
  docs/docs/quick_start/uninstall.md
  docs/i18n/cn/docusaurus-plugin-content-docs/current/quick_start/create_stateful/basic/ha.md
  docs/i18n/cn/docusaurus-plugin-content-docs/current/quick_start/create_stateful/basic/local.md
  docs/i18n/cn/docusaurus-plugin-content-docs/current/quick_start/uninstall.md
Labels: kind/documentation

#992 update post_check.md
  docs/docs/quick_start/install/post_check.md
  docs/i18n/cn/docusaurus-plugin-content-docs/current/quick_start/install/post_check.md
Labels: kind/documentation

#994 fix(disk-node): use /etc as device root path
  helm/hwameistor/templates/local-disk-manager.yaml
  pkg/local-disk-manager/member/types/pool.go
Labels: kind/bug

#998 update e2e test
  test/e2e/E2eTest/ls_iop_tests.go
  test/e2e/E2eTest/ls_throughput_tests.go
Labels: e2e-test

#999 update(ldm): mount /etc/hwameistor to container
  helm/hwameistor/templates/local-disk-manager.yaml
Labels: kind/enhancement

#1007 release v0.11.2
  CHANGELOG.md
  changelogs/released/v0.11.2/changelog
  helm/hwameistor/Chart.yaml
Labels: release

#1002 update the license years
  README.md
  README_zh.md
Labels: kind/documentation

#1009 update e2e test for throughput test
  test/e2e/E2eTest/ls_throughput_tests.go
Labels: e2e-test

#1011 update operator.md
  docs/docs/quick_start/install/operator.md
  docs/i18n/cn/docusaurus-plugin-content-docs/current/quick_start/install/operator.md
Labels: kind/documentation

#1010 Add unit tests
  pkg/apiserver/manager/hwameistor/localstoragenode_controller.go
  pkg/local-disk-manager/builder/localdisknode/Kubernetes.go
  pkg/local-disk-manager/builder/localdiskvolume/Kubernetes.go
  pkg/local-disk-manager/controller/localdisk/localdisk_controller_test.go
  pkg/local-disk-manager/controller/localdiskclaim/localdiskclaim_controller_test.go
  pkg/local-disk-manager/controller/localdisknode/localdisknode_controller.go
  pkg/local-disk-manager/filter/filter_disk_test.go
  pkg/local-disk-manager/handler/localdisk/localdisk_test.go
  pkg/local-disk-manager/handler/localdiskclaim/localdiskclaim.go
  pkg/local-disk-manager/handler/localdiskclaim/localdiskclaim_test.go
  pkg/local-disk-manager/handler/localdiskvolume/localdiskvolume.go
  pkg/local-disk-manager/smart/smart_collect_test.go
  pkg/scheduler/scheduler/plugins.go
  pkg/scheduler/scheduler/scheduler.go
  pkg/scheduler/utils/utils_test.go
Labels: kind/unit-test

#1022 update e2e test
  test/e2e/E2eTest/apiserver_check_tests.go
  test/e2e/E2eTest/ldm_basic_tests.go
  test/e2e/E2eTest/ls_comprehensive_tests.go
  test/e2e/E2eTest/ls_eviction_tests.go
  test/e2e/E2eTest/ls_haVolume_Migrate_extra_tests.go
  test/e2e/E2eTest/ls_haVolume_Migrate_tests.go
  test/e2e/E2eTest/pr_tests.go
  test/e2e/adaptation_test/ad_c79_offline_tests.go
  test/e2e/adaptation_test/ad_k8sc81_tests.go
  test/e2e/utils/utils.go
Labels: e2e-test

#1025 update AD test
  .github/workflows/adaptation-test.yml
  Makefile
  test/shutdownvm.sh
Labels: e2e-test

#1029 update AD test
  .github/workflows/adaptation-test.yml
Labels: e2e-test
