Repository hwameistor/hwameistor, pull requests merged in 2023-09, with the labels that each got.

#1109 release v0.12.2
  CHANGELOG.md
  changelogs/released/v0.12.2/changelog
  helm/hwameistor/Chart.yaml
Labels: release

#1110 build pvc-autoresizer image in e2e test
  test/e2e-test.sh
  test/pr-test.sh
Labels: e2e-test

#1111 add snapshot test in e2e test
  go.mod
  go.sum
  test/e2e/E2eTest/snapshot_create_tests.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/LICENSE
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/client/v6/apis/volumesnapshot/v1/zz_generated.deepcopy.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  vendor/k8s.io/gengo/examples/set-gen/generators/sets.go
  vendor/k8s.io/gengo/examples/set-gen/sets/byte.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int.go
  vendor/k8s.io/gengo/examples/set-gen/sets/int64.go
  vendor/k8s.io/gengo/examples/set-gen/sets/string.go
  vendor/k8s.io/gengo/generator/import_tracker.go
  vendor/k8s.io/gengo/namer/import_tracker.go
  vendor/k8s.io/gengo/parser/parse.go
  vendor/k8s.io/utils/exec/exec.go
  vendor/k8s.io/utils/exec/fixup_go118.go
  vendor/k8s.io/utils/exec/fixup_go119.go
  vendor/k8s.io/utils/mount/mount.go
  vendor/k8s.io/utils/mount/mount_helper_unix.go
  vendor/k8s.io/utils/mount/mount_helper_windows.go
  vendor/k8s.io/utils/mount/mount_linux.go
  vendor/k8s.io/utils/mount/mount_unsupported.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/k8s.io/utils/nsenter/nsenter.go
  vendor/k8s.io/utils/nsenter/nsenter_unsupported.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/merge/update.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/schema/elements.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/schema/equals.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/schema/schemaschema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/helpers.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/reconcile_schema.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/typed.go
Labels: e2e-test

#1113 fix snapshot creationtime
  pkg/local-storage/member/csi/controller.go
Labels: kind/bug

#1114 add snapshot rollback test in e2e test
  test/e2e/E2eTest/snapshot_create_tests.go
Labels: e2e-test

#1118 Sync en faqs
  docs/docs/faqs.md
  docs/docs/img/faq04.png
  docs/i18n/cn/docusaurus-plugin-content-docs/current/faqs.md
Labels: kind/documentation

#1123 add build local-disk-action-controller in e2e test
  test/e2e-test.sh
  test/pr-test.sh
Labels: e2e-test

#1125 fix: allow lvm block volume to extend
  pkg/local-storage/member/csi/controller.go
  pkg/local-storage/member/csi/node.go
Labels: kind/bug

#1127 add pvc autoresize test in e2e test
  test/e2e/E2eTest/pvc_autoresizer_tests.go
Labels: e2e-test

#1115 add snapshot restore test in e2e test
  test/e2e/E2eTest/snapshot_restore_tests.go
  test/e2e/E2eTest/snapshot_rollback_tests.go
Labels: e2e-test

#1132 fix rollback test
  test/e2e/E2eTest/snapshot_rollback_tests.go
Labels: e2e-test

#1139 refact: remove CDevice struct
  pkg/local-disk-manager/udev/device.go
  pkg/local-disk-manager/udev/manager.go
Labels: kind/enhancement

#1136 fix resizer test
  test/e2e/E2eTest/pvc_autoresizer_tests.go
  test/e2e/E2eTest/snapshot_restore_tests.go
Labels: e2e-test

#1145 Release v0.12.3
  CHANGELOG.md
  changelogs/released/v0.12.3/changelog
  helm/hwameistor/Chart.yaml
Labels: release

#1153 fix e2e-test
  test/e2e-test.sh
  test/pr-test.sh
Labels: e2e-test
