Repository hwameistor/hwameistor, pull requests merged in 2025-02, with the labels that each got.

#1642 [Test]add more version in adaptation-test
  .github/workflows/adaptation-test.yml
Labels: e2e-test

#1647 Compare nodename before enqueue replica snapshort restore task
  pkg/local-storage/member/node/manager.go
Labels: kind/feature

#1643 [Test]add update test
  test/e2e/E2eTest/update_tests.go
  test/e2e/install_hw.sh
  test/e2e/utils/utils.go
Labels: e2e-test

#1650 csi: use volumePath from metrics request
  pkg/local-disk-manager/csi/driver/node/node.go
Labels: kind/bug

#1653 Filter non-lsn nodes to optimize scheduling efficiency
  pkg/scheduler/scheduler/scheduler-lvm.go
Labels: kind/enhancement

#1658 Release v0.16.2
  CHANGELOG.md
  changelogs/released/v0.16.2/changelog
  helm/hwameistor/Chart.yaml
Labels: release
